/* 색상 오렌지색으로 변경. */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
a {
    margin-top: 100px;
    text-decoration: none;
    color: rgb(0, 170, 255); /* 주황색으로 변경 */
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    
    top: 50%;
  }
  
  a:hover {
    color: #005faf; /* 호버 시 색상 변경 */
  }